@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1F1F1F;
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-size: 15rem;
}

@media (max-width:768px){
  .mobile_nav{
    background-image: url('/images/bg.png');
    background-repeat: repeat;
    background-size: 15rem;
  }
}

.desktop_nav{
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-size: 15rem;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}



/* nav items styles */

/* global.css */

.custom-list-item {
  @apply pb-2 transition-all duration-500 relative px-3;
}

.custom-list-item-active {
  @apply text-khaki;
}

.custom-list-item-inactive {
  @apply text-white;
}

.custom-list-item-hover {
  @apply hover:text-khaki;
}

.custom-list-item-span {
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 w-20 h-[2px] transition-all duration-500;
}

.custom-list-item-span-active {
  @apply bg-khaki;
}

.custom-list-item-span-inactive {
  @apply bg-transparent;
}

.custom-list-item-span-hover {
  @apply hover:bg-khaki;
}


/* main layout */
/* Inside your global.css or main CSS file */
.main-layout {
  @apply relative flex min-h-screen max-w-[80rem] mx-auto flex-col items-center justify-between lg:px-24 mt-2;
}


.package-detail-paper{
  transform: rotate3d(8, -1, -2, -0.15turn);
}

.shadow-top{
  top: 10rem !important;
}

@media (max-width:1024px) {
  .shadow-top{
    top: 6rem !important;
  }
}
.shadow-height{
  height: 240px !important;
}

@media (max-width:1024px) {
  .shadow-height{
    height: 180px !important;
  }
}