@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-size: 15rem;
}

.mobile_nav{
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-size: 15rem;
}
.desktop_nav{
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-size: 15rem;
}
.mobile_nav{
  background-image: url('/images/bg.png');
  background-repeat: repeat;
  background-size: 15rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
